<div class="table-padding">
  <div *ngIf="showPayments">
    <h1>
      <strong>{{ title | uppercase }}</strong>
    </h1>
    <div class="col-md-4 btn-pdf">
      <button class="btn btn-successs btn-block btn-color" (click)="openPDF()">
        OPEN PDF
      </button>
      <button
        class="btn btn-danger btn-block btn-color"
        (click)="downloadPDF()"
      >
        DOWNLOAD PDF
      </button>
    </div>

    <div *ngIf="showButtons">
      <button class="btn btn-add btn-color" (click)="addNewPayment()">
        NEW PAYMENT
      </button>

      <button class="btn btn-add btn-color" (click)="backToReceipts()">
        BACK TO RECEIPTS
      </button>
      <br />
    </div>

    <table mat-table [dataSource]="dataSource" matSort id="myPaymentTable">
      <ng-container matColumnDef="paymentId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment ID</th>
        <td mat-cell *matCellDef="let element">{{ element.paymentId }}</td>
        <div *ngIf="showFooter">
          <td mat-footer-cell *matFooterCellDef><strong>TOTAL</strong></td>
        </div>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.amount | currency: element.receipt.client.company.currency
          }}
        </td>
        <div *ngIf="showFooter">
          <td mat-footer-cell *matFooterCellDef>
            <strong>{{ getTotalCost() | currency: currencyType }}</strong>
          </td>
        </div>
      </ng-container>

      <ng-container matColumnDef="dateOfIssue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of issue</th>
        <td mat-cell *matCellDef="let element">{{ element.dateOfIssue }}</td>
        <div *ngIf="showFooter">
          <td mat-footer-cell *matFooterCellDef></td>
        </div>
      </ng-container>
      <!--
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef  [ngStyle]="{display: showEditDelete? 'table-cell' : 'none'}">Delete</th>
      <td mat-cell *matCellDef="let element"  [ngStyle]="{display: showEditDelete? 'table-cell' : 'none'}">
        <button mat-button (click)="deletePayment(element.paymentId)">
          Delete
        </button>
      </td>
      <div *ngIf="showFooter">
      <td mat-footer-cell *matFooterCellDef [ngStyle]="{display: showEditDelete? 'table-cell' : 'none'}" ></td>
      </div>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef [ngStyle]="{display: showEditDelete? 'table-cell' : 'none'}">Edit</th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{display: showEditDelete? 'table-cell' : 'none'}">
        <button mat-button (click)="editPayment(element.paymentId)" [ngStyle]="{display: showEditDelete? 'table-cell' : 'none'}">
          Edit
        </button>
      </td>
      <div *ngIf="showFooter">
      <td mat-footer-cell *matFooterCellDef [ngStyle]="{display: showEditDelete? 'table-cell' : 'none'}" ></td>
    </div>
    </ng-container>
-->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <div *ngIf="showFooter">
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </div>
    </table>
    <mat-paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true"
    >
    </mat-paginator>
  </div>
</div>
<div class="spinner-table" *ngIf="!showPayments">
  <mat-spinner diameter="150"></mat-spinner>
</div>
