#layout{
    height: 90%;
}

.example-container {

     width: 100%;
     height: 100vh;
    background: #81bae3;
  }

#toolbar {
    background-color: beige;
}

#mat-fab {
    color: beige;
    background-color: #81bae3;
    left: 95%;
    position: relative;
}

.sideDashboard {
    margin: 20pt;
    background-color: aliceblue;
}

#iconNav {
    right: 5%;
    position: relative;
}

  