.form-container {
  position: absolute;
  
  margin-left: 41.5%;
  background-color: rgba(255, 255, 255);
  padding: 30px;
  border-radius: 15px;
  box-shadow:5px 6px #ca4679 ;
}





.input-field {
  width: 100%;
}

