<div class="form-container">
  <h1><strong>{{ formText | uppercase }}</strong></h1>
  <form [formGroup]="companyForm" (ngSubmit)="createOrEditCompany()">
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Name</mat-label>
      <input matInput id="name" name="name" formControlName="name" required />
      <span
        *ngIf="
          !companyForm.get('name').valid && companyForm.get('name').touched
        "
        >Name must contains between 3 and 40 charachters!</span
      >
    </mat-form-field>
    <br />

    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Email</mat-label>
      <input matInput name="email" type="email" formControlName="email" required/>
      <span
        *ngIf="
          !companyForm.get('email').valid && companyForm.get('email').touched
        "
        >Please enter a valid email!</span
      >
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>PIB</mat-label>
      <input matInput name="pib" formControlName="pib" required />
      <span
        *ngIf="!companyForm.get('pib').valid && companyForm.get('pib').touched"
        >PIB must contain 9 digits!</span
      >
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Address</mat-label>
      <input matInput name="address" formControlName="address" required />
      <span
        *ngIf="
          !companyForm.get('address').valid &&
          companyForm.get('address').touched
        "
        >Address must contain less than 40 charachters!</span
      >
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Contact</mat-label>
      <input matInput name="contact" formControlName="contact" required />
      <span
        *ngIf="
          !companyForm.get('contact').valid &&
          companyForm.get('contact').touched
        "
        >Format is invalid!</span
      >
    </mat-form-field>
    <br />

    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Account number</mat-label>
      <input matInput name="accountNumber" formControlName="accountNumber" required  matTooltip="Format xxx-xxxxxxxxxxxxx-xx"
      matTooltipPosition="right"/>
      <span
        *ngIf="
          !companyForm.get('accountNumber').valid &&
          companyForm.get('accountNumber').touched
        "
        >Account number must contain 18 digits!</span
      >
    </mat-form-field>
    <br />
     
    <mat-form-field appearance="fill">
      <mat-label>Currency</mat-label>
      <mat-select formControlName="currency">
        <mat-option *ngFor="let currency of currencies | keyvalue" [value]="currency.value" required>
          {{currency.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
   
    <br />
    <br />
    <div class="button-pos">
      <button class="btn submit-button btn-color" [disabled]="!companyForm.valid">
        SUMBIT
      </button>
    </div>
  </form>
</div>
