<div class="table-padding">
  <div *ngIf="showReceipts">
    <h1 ><strong>{{ title | uppercase }}'S RECEIPTS</strong></h1>
  <div *ngIf="showButtons">
  <button class="btn btn-add btn-color" (click)="addNewReceipt()" >NEW RECEIPT</button>
  <div *ngIf="showFilter">
  <button class="btn btn-add btn-color" (click)="onShowLastYearReceipts()">
   SHOW LAST YEARS RECEIPTS
  </button>
  <button class="btn btn-add btn-color" (click)="onShowLast365DaysReceipts()">
    SHOW LAST 365 DAYS RECEIPTS
  </button>
  <button class="btn btn-add btn-color" (click)="onShowSelectedYear()">
    SHOW RECEIPT FOR SELECTED YEAR
  </button>
  <button class="btn btn-add btn-color" (click)="onShowBetweenTwoDates()">
    SHOW RECEIPTS BETWEEN DATES
  </button>
  <button class="btn btn-add btn-color" (click)="backToClients()">BACK TO CLIENTS</button>
</div>
</div>

 
  <div class="same-line-filter" *ngIf="!showBetweenFilter || !showYearPicker">
 <div *ngIf="!showBetweenFilter">
    <form  [formGroup]="dateForm" (ngSubmit)="filterReceipts()">
    <mat-form-field appearance="fill"  >
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" formControlName="startDate">
        <input matEndDate placeholder="End date"  formControlName="endDate">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    
    </mat-form-field>
    <button mat-raised-button [disabled]="!dateForm.valid" class="btn-color">
     CONFIRM
    </button>
  </form>
    
</div>


<div *ngIf="!showYearPicker">
  <form  (ngSubmit)="filterReceiptsForSelectedYear()" >
<mat-form-field appearance="fill"  >
  <mat-label>Year</mat-label>
  <input matInput [matDatepicker]="dp" [formControl]="year">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                >
  </mat-datepicker>
</mat-form-field>
<button mat-raised-button [disabled]="!year.valid" class="btn-color">
  CONFIRM
</button>
</form>
</div>
</div>

  <br />
  <br />

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" />
  </mat-form-field>
  <br />

  <table mat-table [dataSource]="dataSource" matSort >
    <ng-container>
      <ng-container matColumnDef="receiptId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Receipt ID</th>
        <td mat-cell *matCellDef="let element">{{ element.receiptId }}</td>
        <div *ngIf="showFooter">
        <td mat-footer-cell *matFooterCellDef><strong>TOTAL</strong></td>
      </div>
      </ng-container>

      <ng-container matColumnDef="receiptNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Receipt number</th>
        <td mat-cell *matCellDef="let element">{{ element.receiptNumber }}</td>
        <div *ngIf="showFooter">
        <td mat-footer-cell *matFooterCellDef></td>
      </div>
      </ng-container>

      <ng-container matColumnDef="dateOfIssue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of issue</th>
        <td mat-cell *matCellDef="let element">{{ element.dateOfIssue }}</td>
        <div *ngIf="showFooter">
        <td mat-footer-cell *matFooterCellDef></td>
      </div>
      </ng-container>

      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
        <td mat-cell *matCellDef="let element">{{ element.year }}</td>
        <div *ngIf="showFooter">
        <td mat-footer-cell *matFooterCellDef></td>
      </div>
      </ng-container>

      <ng-container matColumnDef="timeLimit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time limit</th>
        <td mat-cell *matCellDef="let element">{{ element.timeLimit}} days</td>
        <div *ngIf="showFooter">
        <td mat-footer-cell *matFooterCellDef></td>
        </div>
      </ng-container>

      <ng-container matColumnDef="totalAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total amount</th>
        <td mat-cell *matCellDef="let element">
          {{ element.totalAmount | currency : element.client.company.currency }}
        </td>
        <div *ngIf="showFooter">
        <td mat-footer-cell *matFooterCellDef>
          <strong>{{ getTotalCost() | currency : currencyType: 'symbol'  }}</strong>
        </td>
        </div>
      </ng-container>

      <ng-container matColumnDef="debt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Debt</th>
        <td mat-cell *matCellDef="let element">{{ element.debt | currency : element.client.company.currency }}</td>
        <div *ngIf="showFooter">
        <td mat-footer-cell *matFooterCellDef>
          <strong>{{ getTotalDebt() | currency : currencyType: 'symbol'  }}</strong>
        </td>
        </div>
      </ng-container>

      <ng-container matColumnDef="percentageInterest">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Interest</th>
        <td mat-cell *matCellDef="let element">{{ element.percentageInterest}} % </td>
        <div *ngIf="showFooter">
        <td mat-footer-cell *matFooterCellDef></td>
        </div>
      </ng-container>

      <ng-container matColumnDef="payment">
        <th mat-header-cell *matHeaderCellDef>Payment</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="viewPayment(element.receiptId)">
            Payment
          </button>
        </td>
        <div *ngIf="showFooter">
        <td mat-footer-cell *matFooterCellDef></td>
        </div>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="deleteReceipt(element.receiptId)">
            Delete
          </button>
        </td>
        <div *ngIf="showFooter">
        <td mat-footer-cell *matFooterCellDef></td>
        </div>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="editReceipt(element.receiptId)">
            Edit
          </button>
        </td>
        <div *ngIf="showFooter">
        <td mat-footer-cell *matFooterCellDef></td>
        </div>
      </ng-container>

      <ng-container matColumnDef="items">
        <th mat-header-cell *matHeaderCellDef>Items</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="showItems(element.receiptId)">
            Items
          </button>
        </td>
        <div *ngIf="showFooter">
        <td mat-footer-cell *matFooterCellDef></td>
        </div>
      </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <div *ngIf="showFooter">
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </div>
  </table>
  <mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true"
  >
  </mat-paginator>
  </div>
</div>
<div class="spinner-table" *ngIf="!showReceipts"><mat-spinner diameter="150" ></mat-spinner></div>

