<div class="client-padding">
<button class="btn btn-add" (click) ="addNewReceipt()"> Add new receipt </button>
<h1 class="textColor">{{clientName}}'s receipts</h1>


<button mat-raised-button (click)="onShowLastYearReceipts()">Show last years receipts</button>
<br>
<br>
<button mat-raised-button (click)="onShowLast365DaysReceipts()">Show last 365 days receipts</button>
<br>
<br>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search">
</mat-form-field>
<br>


<table mat-table [dataSource]="dataSource" matSort  >

<ng-container>
    <ng-container matColumnDef="receiptId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header  > Receipt ID </th>
      <td mat-cell *matCellDef="let element"  > {{element.receiptId}} </td>
    </ng-container>

    <ng-container matColumnDef="date_of_issue" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Date of issue </th>
      <td mat-cell *matCellDef="let element" > {{element.date_of_issue}} </td>
    </ng-container>

    <ng-container matColumnDef="time_limit" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Time limit </th>
      <td mat-cell *matCellDef="let element"> {{element.time_limit}} </td>
    </ng-container>

    <ng-container matColumnDef="total_amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Total amount </th>
      <td mat-cell *matCellDef="let element" > {{element.total_amount | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="dept">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Debt </th>
      <td mat-cell *matCellDef="let element" > {{element.dept}} </td>
    </ng-container>

    <ng-container matColumnDef="payment" >
      <th mat-header-cell *matHeaderCellDef > Payment </th>
      <td mat-cell *matCellDef="let element"> <button mat-button (click)="viewPayment(element.receiptId)">Payment</button> </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element"> <button mat-button (click)="deleteReceipt(element.receiptId)">Delete</button> </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element"> <button mat-button (click)="editReceipt(element.receiptId)">Edit</button> </td>
    </ng-container>

    <ng-container matColumnDef="items">
      <th mat-header-cell *matHeaderCellDef>  Items </th>
      <td mat-cell *matCellDef="let element"> <button mat-button (click)="showItems(element.receiptId)">Items</button> </td>
    </ng-container>


  </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
  </mat-paginator>
</div>
