.dashboard-card {
  position: absolute;
  left: 25%;
  background-color: rgba(255, 255, 255);
  width: 50%;
  margin-top: 10%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow:5px 6px #ca4679 ;
}

.dashboard-card:hover {
  transform: scale(1.4) translateY(0.5px);
  z-index: 25;
}

.year-picker{
  position: absolute;
  left: 8%;
  
}

.show-company-filters{

margin-top: 2%;
display: flex;
justify-content: flex-end;
width: 95%;
overflow: hidden;


}

.mat-form-field {
  font-size: 14px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.more-button:active {
  transform: scale(1.4) translateY(-0.5rem) skewX(-7deg);
}

.dashboard-card-content {
  text-align: left;
  padding-top: 10px;
}

.row {
  margin: 0 auto;
}

.col-1-of-2 {
  width: calc((100% - 60px) / 2);
  float: left;
}


