<h1>INFORMATION ABOUT COMPANY
  <button mat-button >
    <mat-icon aria-hidden="false" aria-label="Example home icon" id="iconNav">home</mat-icon>
</button>
</h1>
<mat-list role="list">
  <mat-list-item role="listitem">NAME: {{company.name}}</mat-list-item>
  <mat-list-item role="listitem">PIB: {{company.pib}}</mat-list-item>
  <mat-list-item role="listitem">ADDRESS: {{company.address}}</mat-list-item>
  <mat-list-item role="listitem">CONTACT: {{company.contact}}</mat-list-item>
  <mat-list-item role="listitem">EMAIL: {{company.email}}</mat-list-item>
  <mat-list-item role="listitem">ACCOUNT NUMBER: {{company.account_number}}</mat-list-item>
  <button routerLink="/client"> CLIENTS </button>
</mat-list>

<app-company-form [formCompany] = "company"></app-company-form>
