
<mat-card class="dashboard-card" *ngIf="showCompany" >
  <button class="btn btn-add" (click)="addNewClient()">Add new client</button>
<br/>
      <mat-card-header>
        <mat-card-title>
        <strong> {{company.name}}</strong>
          
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">

        <div class="col-1-of-2">
          <mat-list-item role="listitem"><strong>PIB</strong></mat-list-item>
          <mat-list-item role="listitem"><strong>ADDRESS</strong></mat-list-item>
          <mat-list-item role="listitem"><strong>CONTACT</strong></mat-list-item>
          <mat-list-item role="listitem"><strong>EMAIL</strong></mat-list-item>
          <mat-list-item role="listitem"><strong>ACCOUNT NUMBER</strong></mat-list-item>
          <mat-list-item role="listitem"><strong>CLIENTS</strong></mat-list-item>
        </div>
      <div class="col-1-of-2">
          <mat-list-item role="listitem">{{company.pib}}</mat-list-item>
          <mat-list-item role="listitem">{{company.address}}</mat-list-item>
          <mat-list-item role="listitem">{{company.contact}}</mat-list-item>
          <mat-list-item role="listitem">{{company.email}}</mat-list-item>
          <mat-list-item role="listitem">{{company.account_number}}</mat-list-item>
          <div [routerLink]="['client']" style="cursor: pointer"> <strong>&rarr;</strong></div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="loader spinner" *ngIf="!showCompany">Loading...</div>
 


