<div  class="example-container">
  <form [formGroup]="clientForm" (ngSubmit)="createOrEditClient()" >
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput id="name"  name="name" formControlName="name" >
  
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Client registration number</mat-label>
    <input matInput name="client_reg_number" formControlName="client_reg_number"  >
  
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Address</mat-label>
    <input matInput name="address" formControlName="address"  >
    
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Contact</mat-label>
    <input matInput name="contact" formControlName="contact"  >
   
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput name="email" formControlName="email" >
   

  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Account number</mat-label>
    <input matInput name="account_number" formControlName="account_number" > 
 
  </mat-form-field>
  <br>
  <!--<button mat-raised-button (click)="createClient()">Add client</button>-->
  <br>
  <br>
  <div class="button-pos">
  <button class="btn submit-button">Submit</button>
  </div>

</form>
</div>
