<div class="example-container">
  <form [formGroup]="clientForm" (ngSubmit)="createOrEditClient()">
    <h1 color="gray">{{ formText }}</h1>
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Name</mat-label>
      <input matInput id="name" name="name" formControlName="name" />
      <span
        *ngIf="!clientForm.get('name').valid && clientForm.get('name').touched"
        >Name must contains between 3 and 40 charachters!</span
      >
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Client registration number</mat-label>
      <input
        matInput
        name="clientRegNumber"
        formControlName="clientRegNumber"
      />
      <span
        *ngIf="
          !clientForm.get('clientRegNumber').valid &&
          clientForm.get('clientRegNumber').touched
        "
        >Registration number must contain 6 digits!</span
      >
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Address</mat-label>
      <input matInput name="address" formControlName="address" />
      <span
        *ngIf="
          !clientForm.get('address').valid && clientForm.get('address').touched
        "
        >Address must contain less than 40 charachters!
      </span>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Contact</mat-label>
      <input matInput name="contact" formControlName="contact" />
      <span
        *ngIf="
          !clientForm.get('contact').valid && clientForm.get('contact').touched
        "
        >Contact must contain only digits!</span
      >
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Email</mat-label>
      <input matInput name="email" formControlName="email" />
      <span
        *ngIf="
          !clientForm.get('email').valid && clientForm.get('email').touched
        "
        >Please enter a valid email!</span
      >
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Account number</mat-label>
      <input matInput name="accountNumber" formControlName="accountNumber" />
      <span
        *ngIf="
          !clientForm.get('accountNumber').valid &&
          clientForm.get('accountNumber').touched
        "
        >Account number must contain 16 digits!</span
      >
    </mat-form-field>
    <br />
    <br />
    <br />
    <div class="button-pos">
      <button class="btn submit-button" [disabled]="!clientForm.valid">
        Submit
      </button>
    </div>
  </form>
</div>
