<div class="example-container">
  <form [formGroup]="paymentForm" (ngSubmit)="createEditPayment()">
    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Amount</mat-label>
      <input
        matInput
        name="amount"
        type="number"
        formControlName="amount"
        class="right-amount"
      />
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>.00</span>
      <div
        *ngIf="
          paymentForm.get('amount').invalid &&
          (paymentForm.get('amount').touched || paymentForm.get('amount').dirty)
        "
      >
        <div *ngIf="paymentForm.get('amount').errors.required"></div>
        Please enter a valid amount!
      </div>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>{{date}}</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date_of_issue"  [name]="date" placeholder={{date}}
      value="date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br />
    <br />
    <br />
    <div class="button-pos">
      <button class="btn submit-button" [disabled]="!paymentForm.valid">
        Submit
      </button>
    </div>
  </form>
</div>
