<div class="form-container">
  <form [formGroup]="itemForm" (ngSubmit)="createOrEditItem()">
    <h1>
      <strong>{{ formText | uppercase }}</strong>
    </h1>
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Name</mat-label>
      <input matInput id="name" name="name" formControlName="name" required />
      <span *ngIf="!itemForm.get('name').valid && itemForm.get('name').touched"
        >Name must contains between 3 and 40 charachters!</span
      >
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Price</mat-label>
      <input
        matInput
        name="price"
        formControlName="price"
        type="number"
        min="1"
        required
      />
      <span matPrefix>{{ currency }}</span>
      <span matSuffix>.00</span>
      <span
        *ngIf="!itemForm.get('price').valid && itemForm.get('price').touched"
        >Please enter a valid price!</span
      >
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Measure</mat-label>
      <input
        matInput
        name="measure"
        formControlName="measure"
        type="number"
        min="1"
        required
      />
      <span
        *ngIf="
          !itemForm.get('measure').valid && itemForm.get('measure').touched
        "
        >Please enter a valid measure!</span
      >
    </mat-form-field>
    <br />
    <br />
    <br />
    <br />
    <div class="button-pos">
      <button class="btn submit-button btn-color" [disabled]="!itemForm.valid">
        SUMBIT
      </button>
    </div>
  </form>
</div>
