
<mat-card class="dashboard-card" >
  <div  *ngIf="showUser">
  <button class="btn btn-add btn-color btn-size"  (click)="editUser()">EDIT</button>
<br/>
      <mat-card-header>
        <mat-card-title>
        <strong> {{username | uppercase}}</strong>

        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">

        <div class="col-1-of-2">
          <mat-list-item role="listitem"><strong>FIRST NAME</strong></mat-list-item>
          <mat-list-item role="listitem"><strong>LAST NAME</strong></mat-list-item>
          <mat-list-item role="listitem"><strong>USERNAME</strong></mat-list-item>
          <mat-list-item role="listitem"><strong>EMAIL</strong></mat-list-item>
          <mat-list-item role="listitem"><strong>CONTACT</strong></mat-list-item>
          <mat-list-item role="listitem"><strong>ROLE</strong></mat-list-item>
        </div>
      <div class="col-1-of-2">
          <mat-list-item role="listitem">{{user.firstName}}</mat-list-item>
          <mat-list-item role="listitem">{{user.lastName}}</mat-list-item>
          <mat-list-item role="listitem">{{user.username}}</mat-list-item>
          <mat-list-item role="listitem">{{user.email}}</mat-list-item>
          <mat-list-item role="listitem">{{user.contact}}</mat-list-item>
          <mat-list-item role="listitem">{{user.role.name}}</mat-list-item>

        </div>
      </mat-card-content>
    </div>
    </mat-card>
    <div class="spinner" *ngIf="!showUser"><mat-spinner></mat-spinner></div>





