@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* 
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0px;
}

html, body {
  min-height: 100%;
}
body {
  font-family: "Lato", sans-serif;
  margin: 0;
}
.basic-container {
  padding: 20px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}
 */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn {
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  background-color: #dfdfde;
}

.btn:hover {
  box-shadow: 0 10px 20px rgba(black, 0.2);
}

.btn-add {
  margin-bottom: 30px;
  float: right;
}

.client-padding {
  padding-top: 30px;
  z-index: 1;
  width: 90%;
  position: absolute;
  left: 5%;
}
