.sidenav-container {
  height: 100%;
}


.sidenav .mat-toolbar {
  background: inherit;
}

.color-text{
  color: black;
}



.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #A8A8A8;


}

.icon{
  color: black;
}

.mat-drawer{
  background-color: #A8A8A8;

}

.container {
background-image: url(../../../assets/img/moon.jpeg)   /* , linear-gradient(to right top,
  #F8DAE9 0.8,
  #EFB0CD 0.8); */;
/*  background-image:  linear-gradient(
  100deg, 
  #a2798f, #d7c6cf);
 */
  
  background-size: cover;
  height: 100%;
  width: 100%;
/*   clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
 */ 
 background-position: center;
  background-repeat: no-repeat;
  z-index: -1;

  overflow: scroll;
  position: relative;

}


.mat-drawer-content{
  overflow: hidden;
}


