<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()" ><mat-icon class="icon">menu</mat-icon></button>
   
      <span class="color-text"><strong>APRSP</strong></span>
      
      <div class="auth">
      
        <button mat-button (click)="auth()" color="grey">
          <strong>{{ authText ? "LOGIN" : "LOGOUT" }}</strong>
        </button>
      </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="company" >COMPANY</a>
        <a mat-list-item routerLink="client/all" >CLIENT</a>
        <a mat-list-item routerLink="receipt/all" >RECEIPT</a>
        <a mat-list-item routerLink="item/all" >ITEM</a>
        <a mat-list-item routerLink="payment/all" >PAYMENT</a>



      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
     
      <div class="container">
        <div class="back">
          <span class="material-icons" (click)="goBack()">arrow_back</span>
        </div>
     <router-outlet></router-outlet>
  </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

