.sidenav-container {
  height: 100%;
  position: relative;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.color-text {
  color: #F6F3F5;
  
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ca4679;
}


.mat-drawer {
  background-color: #ca4679;
}

.material-icons{
  color:  #ca4679;
 
}

.icon {
  color:#F6F3F5;
}
.back{
  position: absolute;
  left: 20px;
  top: 20px;
  bottom: 20px;
}


.auth{
  color: #F6F3F5;
  position: absolute;
}


.container {
  background-color: #E5DCE2;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  overflow: auto;
  position: relative;
}

.mat-drawer-content {
  overflow: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}