<div *ngIf="action">
<h1 mat-dialog-title><strong>{{titleYesNo | uppercase}}</strong></h1>
<div mat-dialog-content>
  <p>{{textYesNo}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="btn-color">No</button>
  <button mat-button [mat-dialog-close]="true" class="btn-color">Yes</button>
</div>
</div> 

<div *ngIf="!action">
  <h1 mat-dialog-title><strong>{{title | uppercase}}</strong></h1>
  <div mat-dialog-content>
    <p>{{text}}</p>
    <p>Please try again!</p>
  </div>
  <div mat-dialog-actions>
    <button class="btn-color" mat-button mat-dialog-close>OK</button>
  </div>
  </div> 

 
  
