<mat-card class="example-card info-container">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><strong>Confirm your email address</strong></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      
We have sent an email with a confirmation link to your email address. In order to complete the process, please click the confirmation link.

If you do not receive a confirmation email, please check your spam folder. Also, please verify that you entered a valid email address in our sign-up form.
    </p>

  </mat-card-content>
</mat-card>



